@media (max-width: 1500px) {
    .planilhas-img2,
    .planilhas-img1 {
    border-radius: 10px 10px 0 0;
    width: 550px;
    height: 220px;
    object-fit: cover;
  }
  
}

@media (max-width: 1100px) {
    
    .more-area img {
        width: 400px;

    }
    .about p {
        font-size: 1rem;

    }
    .planilhas-area {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        align-items: center;
    }
    .planilhas-img2,
    .planilhas-img1 {
        width: 700px;
        height: 220px;
    }
    .title-inner {
        color: white;
        font-size: 2rem;
       
    }
    .weeks {     
        font-size: 0.9em;
      }
    .level { 
        padding: 5px 20px;
        
        
    }
    
    
}

@media (max-width: 940px) {
    .desktop-nav {
        justify-content: space-around;
    }
    .menu-icon {
        display: flex;
        
    }
    .nav-links {
        display: none;
        animation: fadeIn 1s ease-in-out;
    }

    .open .nav-links {
        display: block;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
   .open {
        position: fixed;
        top: 27vh;
        width: 77vh;
        height: 12vh;
        background-color: #053c78;
        gap: 0.75rem;
        justify-content: space-evenly;
        display: flex;
        align-items: center;
        border-radius: 10px;
        left: 44%;
        transform: translate(-50%, -50%);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
        position: absolute; 
        z-index: 200;
        
        

    }
    #more {
        margin-top: 4rem;
    }
    
    .more-area {
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
    }

    .more-area img {
        width: 300px;

    }
    .about p {
        font-size: 0.7rem;

    }
    .blog-area {

        grid-template-columns: repeat(2, 250px); 
    }
    .form {
        padding: 1rem;
    }
    .form h4 {
        font-size: 1.25rem;
    }
    .form label {
       
        font-size: 1.2rem;
    }
    input[type="radio"] + label {      
        padding-left: 10px;
    }
    .form-img{
     
        width: 300px;
        height: 450px;
      
    }
    .tooltip {
        left: 158%;
        top: 0;
    }
    .planilhas-area {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        align-items: center;
    }

    .planilhas-img2,
    .planilhas-img1 {
        width: 600px;
        height: 200px;
    }
    .title-inner {
        color: white;
        font-size: 2rem;
       
    }
    .weeks {     
        font-size: 0.9em;
      }
    .level {
      
        padding: 5px 20px;
        
        
    }
}

@media (max-width: 650px) {
    
    
    .open {
        flex-direction: column;
        top: 20vh;
        right: 0;
        width: 100%;
        height: 84vh;
        left: -48px;
        border-radius: 0;
        transform: none;
        position: absolute;
    }

    .more-area {
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .more-area img {
        width: 200px;

    }
    .about h1 {
        font-size: 1.3rem;
    }
    .about p {
        font-size: 0.8rem;

    }
    .about {
        padding: 1rem;
    }
    .title {
        text-align: center;
        margin-bottom: 3rem;
        font-size: 2rem;
    }
    .blog-area {

        grid-template-columns: 250px; 
    }
    .calculadora-area {
        padding: 1.3rem;
    }
    .form {
        padding: 1rem;
        gap: 1rem;
    }
    .form h4 {
        font-size: 1.25rem;
    }
    .form label {
        font-size: 0.9rem;
    }
    .form-img{
        display: none;
      
    }
    .tooltip {
        left: 0;
        top: -20%;
        font-size: 0.7rem;
        height: 200px;
      }
    .planilhas-img2,
    .planilhas-img1 {
        width: 350px;
        height: 125px;
    }
    .title-inner {
        color: white;
        font-size: 1.3rem;
       
    }
    .weeks {     
        font-size: 0.8rem;
      }
    .level {
        font-size: 0.7rem;
        padding: 5px 20px;
        
        
    }
    
    table {
        border-collapse: collapse;
        width: 100%;
        padding: 0.5rem;
        
    }
    th {
        border-bottom: 2px solid #007bff;
        font-size: 1rem;
        color: #1c1c1c;
        
    }
    td {
        font-size: 0.7rem;
        
    }
    th, td {
        text-align: center;
        padding: 1rem;
        
    }
    .options-table img {
        cursor: pointer;
        width: 20px;
        height: auto;
    }
    .planilha-box {
        width: 350px;
    }
    .footer-info {
        color: white;
        font-size: 1rem;
        font-weight: 500;
    }
    
}