@media (max-width: 1100px) {
    .more-area img {
        width: 400px;

    }
    .about p {
        font-size: 0.9rem;

    }
}

@media (max-width: 940px) {
    .desktop-nav {
        justify-content: space-around;
    }
    .menu-icon {
        display: flex;
        
    }
    .nav-links {
        display: none;
    }
    .open {
        position: absolute;
        top: 20vh;
        right: 0;
        width: 50vh;
        height: 80vh;
        background-color: #327355;
        gap: 0.75rem;
        justify-content: space-evenly;
        display: flex;
        align-items: center;
        flex-direction: column;

    }
    
    .more-area {
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
    }

    .more-area img {
        width: 300px;

    }
    .about p {
        font-size: 0.7rem;

    }
    .blog-area {

        grid-template-columns: repeat(2, 250px); 
    }
    
}

@media (max-width: 650px) {
    
    .open {
        width: 100%;
    }

    .more-area {
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .more-area img {
        width: 200px;

    }
    .about h1 {
        font-size: 1.3rem;
    }
    .about p {
        font-size: 0.6rem;

    }
    .about {
        padding: 1rem;
    }
    .title {
        text-align: center;
        margin-bottom: 3rem;
        font-size: 2rem;
    }
    .blog-area {

        grid-template-columns: 250px; 
    }
}